<div id="course-list " class="container mt-5">
    <table class="table table-light table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"> course title</th>
            <th scope="col">courso Code</th>
            <th scope="col">program </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of  CourseList">
            <th scope="row"><a [title]="course.cCode">
              {{course.cDesc}}
            </a></th>
            <td>{{course.cDesc}}</td>
            <td>{{course.program}}</td>

           
          </tr>
         
        </tbody>
      </table>
</div>
