<div id="course-info" class="container">
<div class="row">
    <div class="col-6">
        
       <h3>{{Title}}</h3>
    </div>
    <div class="col-6">
    </div>
</div>
<div class="row">
    <div class="col-6">
        corce description: {{course_DES}}
    </div>
    <div class="col-6">
  </div>
</div>
<div class="row">
    <div class="col-6">
        cource code: {{course_coded}}
    </div>
    <div class="col-6">

    </div>
    <div class="row">
        <div class="col-6">
            <img src="{{courseImg}}" alt="" width="200px">  

        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <fieldset disabled="">
              <label class="form-label" for="disabledInput">Disabled input</label>
              <input class="form-control" id="disabledInput" type="text" value="{{Title}}" readonly>
            </fieldset>
          </div>
       <h3></h3>
    </div>
    <div class="col-6">
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <fieldset disabled="">
              <label class="form-label" for="disabledInput">corce description</label>
              <input class="form-control" id="disabledInput" type="text" value="{{course_DES}}" readonly>
            </fieldset>
          </div>
        
    </div>
    <div class="col-6">
  </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <fieldset disabled="">
              <label class="form-label" for="disabledInput">  cource code</label>
              <input class="form-control" id="disabledInput"  type="text" value="{{course_coded}}" readonly>
            </fieldset>
          </div>
    </div>
    <div class="col-6">

    </div>
    <div class="row">
        <div class="col-6">
            <img src="{{courseImg}}" alt="" width="200px">  

        </div>
    </div>
</div>
<br>
<!-- <button (click)="clear()" type="button" class="btn btn-danger">Danger</button> -->

</div>